.kirki-control-wrapper-repeater {
  .repeater-rows {
    .repeater-row {
      border: 1px solid #dedede;
      padding: 5px;
      margin-bottom: 10px;

      .row-header {
        position: relative;
        margin: -5px;
        padding: 5px;
        background-color: #fff;
        line-height: 20px;
        font-weight: 600;
        height: 20px;
        border-bottom: 1px solid #dedede;

        .repeater-row-actions {
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;

          .action {
            cursor: pointer;
            display: inline-block;
            height: 20px;
            padding: 5px;
            border-left: 1px solid #dedede;

            &:hover {
              background-color: #f2f2f2;
            }

            &.move {}

            &.trash {}
          }
        }
      }

      .row-content {
        padding: 10px 0;
      }
    }
  }

  .add-row {
    float: right;
  }
}
