.kirki-control-wrapper-repeater {
  .repeater-rows {
    .repeater-row {
      border: 1px solid rgba(0,0,0,.15);
      padding: 5px;
      margin-bottom: 10px;

      .row-header {
        position: relative;
        margin: -5px;
        padding: 5px;
        background-color: #fff;
        line-height: 20px;
        font-weight: 600;

        .repeater-row-actions {
          position: absolute;
          top: 5px;
          right: 0;
        }
      }

      .row-content {
        padding: 10px 0;
      }
    }
  }
}
